<h1>Log in to Eventwrite</h1>

<div class="login-form">   
  <%= form_for :session, url: sessions_new_path, :html => { :class => "input-text" } do |f| %>
  <%= f.text_field :email, placeholder: "Email", :class => 'input-text' %><br>
  <%= f.text_field :password, placeholder: "Password", :class => "input-text" %><br><br>
  <%= f.submit "Log in", :id => 'login-button' %>

  <p class="message">New to Eventwrite? <%= link_to "Sign up now", new_user_path %></p>
  <% end %>
</div>
