<h1>Eventwrite</h1>

<h2>An online journal for your Eventbrite events</h2>

<h3>Create an Account</h3>
<div class="registration-form">
  <%= form_for @user, url: {action: "new"}, :html => { :class => "input-text"} do |f| %>
  <%= f.text_field :first_name, placeholder: "First Name", :class => "input-text" %>
  <%= f.text_field :last_name, placeholder: "Last Name", :class => "input-text" %><br><br>
  <%= f.text_field :email, placeholder: "Email", :class => "input-text" %><br><br>
  <%= f.text_field :password, placeholder: "Password", :class => "input-password" %><br><br>
  <%= f.submit "Get started", :id => 'register-button' %> 
  <% end %> 
</div>

<div class="login-option">
  <p>Have an account? <%= link_to 'Log in', sessions_new_path %> </p>
</div>