<h1>Results </h1>

<% @events.each do |event| %>
  <%= link_to event_path(event) do %>
    <%= image_tag "#{event.image_url}" %>
  <% end %>

   <p><%= event.date.strftime("%a, %b %d %l:%M %p") %></p>
   <p><%= event.name %></p>
   <p><%= event.event_url %></p>
<% end %>

