<h1>Create an Account</h1>
<div class="registration-form">
  <%= form_for @user, url: {action: "create"}, :html => { :class => "input-text"} do |f| %>
  <%= f.text_field :first_name, placeholder: "First Name", :class => "input-text" %>
  <%= f.text_field :last_name, placeholder: "Last Name", :class => "input-text" %>
  <%= f.text_field :email, placeholder: "Email", :class => "input-text" %>
  <%= f.text_field :password, placeholder: "Password", :class => "input-password" %>
  <%= f.submit "Submit", :id => 'register-button' %>
  <% end %>
</div>